boto3==1.23.8
botocore==1.26.8
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
Flask==2.0.3
future==0.18.2
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.1.5
python-dateutil==2.8.2
pytz==2022.1
regex==2022.4.24
requests==2.27.1
s3transfer==0.5.2
sacremoses==0.0.53
sentencepiece==0.1.96
six==1.16.0
tokenizers==0.5.2
torch==1.5.0
tqdm==4.45.0
transformers==2.8.0
typing_extensions==4.1.1
urllib3==1.26.9
uWSGI==2.0.20
Werkzeug==2.0.3
zipp==3.6.0